header {
  background-color: #fff;
  .nav-item {
      padding-right: 1rem;
      padding-left: 1rem;
  }
  .nav-link {
      color: #000;
  }
}
.top-bar {
  background-color: #272b65;
  color: #fff;
  border-bottom: 1px solid #e9ecef !important;
  a {
      color: #fff;
  }
}

@media (max-width: 767.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 150px; /* Height of navbar */
    bottom: 0;
    width: 100%;
    z-index: 100;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    background-color: var(--white);
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}
