

/* Tab-panel */
.tab-panel .board{
  width: 100%;
  margin: 0px auto;
  height: auto;
  background: #fff;
/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.tab-panel .board .nav-tabs {
   position: relative;
   margin-bottom: 0;
   box-sizing: border-box;

}

.tab-panel .board > div.board-inner{
   background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
   background-size: 30%;
}

.tab-panel p.narrow{
   width: 60%;
   margin: 10px auto;
}

.tab-panel .liner{
   height: 2px;
   background: #ddd;
   position: absolute;
   width: 100%;
   margin: 0 auto;
   left: 0;
   right: 0;
   top: 50%;
   z-index: 1;
}

.tab-panel .nav-tabs > li.active > a, .tab-panel .nav-tabs > li.active > a:hover,.tab-panel .nav-tabs > li.active > a:focus {
   color: #555555;
   cursor: default;
   /* background-color: #ffffff; */
   border: 0;
   border-bottom-color: transparent;
}

.tab-panel span.round-tabs{
   width: 70px;
   height: 70px;
   line-height: 70px;
   display: inline-block;
   border-radius: 100px;
   background: white;
   z-index: 2;
   position: absolute;
   left: 0;
   text-align: center;
   font-size: 25px;
}

.tab-panel span.round-tabs.one{
   color: rgb(34, 194, 34);border: 2px solid rgb(34, 194, 34);
}

.tab-panel li.active span.round-tabs.one{
   background: #fff !important;
   border: 2px solid #ddd;
   color: rgb(34, 194, 34);
}

.tab-panel span.round-tabs.two{
   color: #febe29;border: 2px solid #febe29;
}

.tab-panel li.active span.round-tabs.two{
   background: #fff !important;
   border: 2px solid #ddd;
   color: #febe29;
}

.tab-panel span.round-tabs.three{
   color: #3e5e9a;border: 2px solid #3e5e9a;
}

.tab-panel li.active span.round-tabs.three{
   background: #fff !important;
   border: 2px solid #ddd;
   color: #3e5e9a;
}

.tab-panel span.round-tabs.four{
   color: #f1685e;border: 2px solid #f1685e;
}

.tab-panel li.active span.round-tabs.four{
   background: #fff !important;
   border: 2px solid #ddd;
   color: #f1685e;
}

.tab-panel span.round-tabs.five{
   color: #999;border: 2px solid #999;
}

.tab-panel li.active span.round-tabs.five{
   background: #fff !important;
   border: 2px solid #ddd;
   color: #999;
}

.tab-panel .nav-tabs > li.active > a span.round-tabs{
   background: #fafafa;
}
.tab-panel .nav-tabs > li {
   width: 20%;
}

.tab-panel .nav-tabs > li:after {
   content: " ";
   position: absolute;
   left: 45%;
  opacity:0;
   margin: 0 auto;
   bottom: 0px;
   border: 5px solid transparent;
   border-bottom-color: #ddd;
   transition:0.1s ease-in-out;
   
}
.tab-panel .nav-tabs > li.active:after {
   content: " ";
   position: absolute;
   left: 45%;
  opacity:1;
   margin: 0 auto;
   bottom: 0px;
   border: 10px solid transparent;
   border-bottom-color: #ddd;
   
}
.tab-panel .nav-tabs > li a{
  width: 70px;
  height: 70px;
  margin: 20px auto;
  border-radius: 100%;
  padding: 0;
}

.tab-panel .nav-tabs > li a:hover{
   background: transparent;
}


.tab-panel .tab-pane{
   position: relative;
   padding-top: 34px;
   margin: 0px 13px 13px 13px;
}
.tab-panel .tab-content .head{
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 25px;
   text-transform: uppercase;
   padding-bottom: 10px;
}
.tab-panel .btn-outline-rounded{
   padding: 10px 40px;
   margin: 20px 0;
   border: 2px solid transparent;
   border-radius: 25px;
}

.tab-panel .btn.green{
   background-color:#5cb85c;
   /*border: 2px solid #5cb85c;*/
   color: #ffffff;
}

.table-checkable th.sorting {
   border-bottom: none;
}
.preview-pic.tab-content .tab-pane {
   padding: 0px;
}

@media( max-width : 585px ){
 
.tab-panel span.round-tabs {
font-size:16px;
width: 50px;
height: 50px;
line-height: 50px;
   }
.tab-panel .tab-content .head{
font-size:20px;
}
.tab-panel .nav-tabs > li a {
width: 50px;
height: 50px;
line-height:50px;
}

.tab-panel .nav-tabs > li.active:after {
content: " ";
position: absolute;
left: 35%;
}

.tab-panel .btn-outline-rounded {
   padding:12px 20px;
   }
}

/*End  Tab-panel */


.basic-info-tab  img {
max-width: 100%; }

.basic-info-tab  .preview {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column; }
@media screen and (max-width: 996px) {
.basic-info-tab .preview {
margin-bottom: 20px; } }

.basic-info-tab  .preview-pic {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1; }

.basic-info-tab  .preview-thumbnail.nav-tabs {
border: none;
margin-top: 15px; 
margin-left: 16px;}
.basic-info-tab  .preview-thumbnail.nav-tabs li {
width: 8%;
margin-right: 2.5%; }
.basic-info-tab  .preview-thumbnail.nav-tabs li img {
max-width: 100%;
display: block; }
.basic-info-tab  .preview-thumbnail.nav-tabs li a {
padding: 0;
margin: 0; }
.basic-info-tab  .preview-thumbnail.nav-tabs li:last-of-type {
margin-right: 0; }

.basic-info-tab .tab-content {
overflow: hidden; }
.basic-info-tab  .tab-content img {
width: 100%;
-webkit-animation-name: opacity;
animation-name: opacity;
-webkit-animation-duration: .3s;
animation-duration: .3s; }

.basic-info-tab .card {
margin-top: 50px;
background: #eee;
padding-top: 0px; 
border: none;
background:none;
}
.preview-pic.tab-content img{
   width: 63%;
}
th.dt-center, td.dt-center { text-align: center; }
@media screen and (min-width: 997px) {
.basic-info-tab .wrapper {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex; } }

.basic-info-tab .details {
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column; }

.basic-info-tab .colors {
-webkit-box-flex: 1;
-webkit-flex-grow: 1;
-ms-flex-positive: 1;
flex-grow: 1; }

.basic-info-tab .product-title,.basic-info-tab  .price,.basic-info-tab  .sizes,.basic-info-tab  .colors {
text-transform: UPPERCASE;
font-weight: bold; }

.basic-info-tab .checked,.basic-info-tab  .price span {
color: #ff9f1a; }

.basic-info-tab .product-title, .basic-info-tab .rating, .basic-info-tab .product-description,.basic-info-tab  .price,.basic-info-tab  .vote,.basic-info-tab  .sizes {
margin-bottom: 15px; }

.basic-info-tab .product-title {
margin-top: 0; }

.basic-info-tab .size {
margin-right: 10px; }
.basic-info-tab .size:first-of-type {
margin-left: 40px; }

.basic-info-tab .color {
display: inline-block;
vertical-align: middle;
margin-right: 10px;
height: 2em;
width: 2em;
border-radius: 2px; }
.basic-info-tab .color:first-of-type {
margin-left: 20px; }

.basic-info-tab .add-to-cart,.basic-info-tab  .like {
background: #ff9f1a;
padding: 1.2em 1.5em;
border: none;
text-transform: UPPERCASE;
font-weight: bold;
color: #fff;
-webkit-transition: background .3s ease;
transition: background .3s ease; }
.basic-info-tab  .add-to-cart:hover,.basic-info-tab  .like:hover {
background: #b36800;
color: #fff; }

.basic-info-tab .not-available {
text-align: center;
line-height: 2em; }
.basic-info-tab .not-available:before {
font-family: fontawesome;
content: "\f00d";
color: #fff; }

.basic-info-tab .orange {
background: #ff9f1a; }

.basic-info-tab .green {
background: #85ad00; }

.basic-info-tab .blue {
background: #0076ad; }

.basic-info-tab .tooltip-inner {
padding: 1.3em; }



.invoice-title h2, .invoice-title h3 {
   display: inline-block;
}

.table > tbody > tr > .no-line {
   border-top: none;
}

.table > thead > tr > .no-line {
   border-bottom: none;
}

.table > tbody > tr > .thick-line {
   border-top: 2px solid;
}


@-webkit-keyframes opacity {
0% {
opacity: 0;
-webkit-transform: scale(3);
transform: scale(3); }
100% {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1); } }

@keyframes opacity {
0% {
opacity: 0;
-webkit-transform: scale(3);
transform: scale(3); }
100% {
opacity: 1;
-webkit-transform: scale(1);
transform: scale(1); } }